%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

%head 
  %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
  %title "COMPARE YOUR STANDARDS!"
  %meta{:name => "description", :content => "UTF-8" }
  = stylesheet_link_merged(:base)
  = javascript_include_merged(:base) 
  = stylesheet_link_tag 'screen.css'
  = javascript_include_tag 'jquery'
  = javascript_include_tag 'http://use.typekit.com/yuw6qmk.js'

  :erb
    <script src="http://www.google.com/jsapi?key=ABQIAAAAwMGM5ffHbRkfompsxZzyhBRAq9ByDnCnKGDAy21ra59LiMlHbxTOAAdR4Lm-nIzv41bqQyq7HeRtzg" type="text/javascript"></script>
  :javascript
    google.load("jquery", "1.4.2");
    google.load("jqueryui", "1.8.2");
    try{Typekit.load();}catch(e){};
%body
  #wrapper
    #top_nav
      = render :partial => 'layouts/topnav'
    = yield 

